/* je n'ai pas utiliser de rem, mais son utilisation permet de gérer la taille des éléments (nottament de la font) par rapport à la taille définit chez le parent direct de cet élément */


* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
}

body {
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px,
}


@media screen and (min-width: 900px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1520px) {
    body {
        font-size: 20px;
    }
}


/* Partie Header */

header {
    display: flex;
    flex-flow: column wrap;
    background-color: #542913;
    color: white;
    max-width: 100%;
}

header img {
    max-width: 32px;
}


/* Partie Gauche du Header */

#header-left {
    display: flex;
    flex-direction: row;
    min-width: 100%;
} 

#header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25%;
}

#logo {
    min-width: 48px;
}

#header-left nav {
    align-self: center;
    width: 75%;
}

#header-left nav ul {
    padding: 0;
}

#header-left nav ul li {
    display: inline;
    align-self: center;
    padding-left: 4px;
}

#header-left nav ul li:hover {
    cursor: pointer;
}

#arrow-down {
    padding: 0;
    margin: 0;
    rotate: 90deg;
}


/* Partie Droite du Header */

#header-right {
    display: flex;
    min-width: 100%;
    margin-bottom: 12px;
}

#header-right form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#header-right form input {
    padding-left: 15px;
    width: 40%;
    border-radius: 10px;
    transition: 0.5s;
}

#header-right form input:hover {
    width: 75%;
}

#header-right form img {
    padding: 4px;
    max-width: 22px;
}

#header-right a {
    padding: 0;
    padding-right: 16px;
}

/* Placez Media Queries ici */

@media screen and (min-width: 900px) {
    header {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    #header-left {
        min-width: 450px;
        max-width: 50%;
    }
    
    #logo {
        min-width: 64px;
        margin: 12px;
    }

    #header-right {
        margin-bottom: 0;
        min-width: 450px;
        max-width: 50%;
    }
    #header-right form {
        max-width: 100%;
    } 

    #header-right a {
        align-self: center;
        padding: 0;
    }
}

@media screen and (min-width: 1520px) {
    header {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    #header-left {
        min-width: 450px;
        max-width: 50%;
    }
    
    #logo {
        min-width: 74px;
        margin: 12px;
    }

    #header-right {
        margin-bottom: 0;
        min-width: 650px;
        max-width: 50%;
    }
    #header-right form {
        max-width: 100%;
    }

    #header-right form input {
        width: 50%;
    }
    
    #header-right form input:hover {
        width: 85%;
    }

    #header-right a {
        align-self: center;
        padding: 0;
    }
}



/* Partie de la Section principale du Body */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    font-weight: bold;
    color: #4b7c39;
    margin: 10px;
}

section p {
    margin: 12px;
}


/* Conteneur parent des Articles */

#section-div {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}


/* Partie concernant tout les articles */

#section-div article {
    background-color: white;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(68, 68, 68);
}


#section-div article:hover {
    filter: brightness(0.8);
    cursor: pointer;
}


#section-div article img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px 10px 0px 0px;
} 

#section-div article h2 {
    margin: 0;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    color: #4b7c39;
}

#section-div article h2:hover {
    text-decoration: underline #4b7c39;
}

.Diff strong {
    font-weight: normal;
    text-decoration: underline;
}

.more {
    color: #4b7c39;
    text-align: end;
    margin-right: 6px;
}

.more:hover {
    text-decoration: underline #4b7c39;
}

.vignette-container {
    right: 6px;
    position: absolute;
}

.vignette {
    margin: 6px;
    margin-right: 0;
    padding: 2px;
    font-size: 12px;
    max-width: 75px;
    min-width: 75px;
    background-color: #4b7c39;
    border-radius: 8px;
}




/* Partie concernant la page du formulaire */

#section-formulaire {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#img-formulaire-side {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-width: 75%;
}

#img-formulaire-side img {
    max-width: 100%;
}



#div-formulaire {
    margin-top: 100px;
    max-width: 80%;
    min-width: 30%;
}

#div-formulaire h2 {
    text-align: center;
    color: #4b7c39;
}

#div-formulaire form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 50%;
    max-width: 80%;
}

#div-formulaire form label {
    min-width: 100%;
    padding: 6px;
}

#div-formulaire form input {
    min-height: 24px;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 100%;
}

#div-formulaire button {
    min-height: 28px;
    align-self: flex-start;
    margin-top: 8px;
}



/* Placez Media Queries ici */


@media screen and (min-width: 900px) {
    section h1 {
        margin: 16px;
    }

    #section-div {
        gap: 24px;
    }

    #section-div article {
        flex-basis: 450px;
    }

    #section-formulaire {
        display: flex;
        flex-direction: row;
    }

    #img-formulaire-side {
        max-width: 50%;
        min-width: 35%;
    }
    
    #img-formulaire-side img {
        max-width: 80%;
    }
}



@media screen and (min-width: 1520px) {
    section h1 {
        margin: 22px;
    }

    #section-div {
        gap: 30px;
    }

    #section-div article {
        flex-basis: 550px;
    }

    #section-formulaire {
        display: flex;
        flex-direction: row;
    }

    #img-formulaire-side {
        max-width: 50%;
        min-width: 35%;
    }
    
    #img-formulaire-side img {
        max-width: 80%;
    }
}







/* Image Carotte */

#img-prefooter {
    margin-top: 58px;
    margin-bottom: -60px;
    width: 100%;
    min-height: 100%;
}






/* Partie concernant le footer des pages */

footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 12px;
    background-color: #542913;
    color: white;
}


/* Conteneur principal des éléments du footer */

#footer-content {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2vh;
}


/* Partie du footer avec la liste */

#footer-content ul {
    margin-top: 10px;
}

#footer-content ul li {
    padding: 8px;
    padding-left: 0;
}

#footer-content ul li:hover {
    cursor: pointer;
}


/* Partie avec les images de réseaux sociaux */

#suivre {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 12px;
    padding-top: 16px;
    padding-bottom: 16px;

}


#footer-content img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    max-width: 24px;
}


#img-sn-content{
    display: flex;
    justify-content: left;
    padding-top: 6px;
}

#img-sn-content img{
    padding-right: 12px;
}

#img-sn-content img:hover{
    cursor: pointer;
}

#suivre p{
    margin: 6px;    
    margin-left: 0;
}



/* Partie avec l'abonnement à la newsletter */

#Abonnez-vous {
    padding: 10px;
    min-width: 300px;
    max-width: 40%;
}

#input-email {
    max-width: 80%;
    min-width: 30%;
    border-radius: 10px;
}

#Abonnez-vous p {
    padding: 4px;
    margin-left: 0;
    max-width: 350px;
    color: rgba(255, 255, 255, 0.5);
}



/* Partie la plus basse du footer */

#copy {
    min-width: 100%;
    max-width: 100%;
    border-top: 1px solid gray;
}

#copy p{
    margin: 25px;
    text-align: center;
    align-self: center;
}

#checkbox:hover {
    cursor: pointer;
}



/* Placez Media Queries ici */


@media screen and (min-width: 900px) {
    #footer-content {
        min-width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    #footer-content ul {
        max-width: 33%;
        min-width: 10%;
    }

    #suivre {
        align-items: center;
        max-width: 60%;
        min-width: 33%;
    }

    #Abonnez-vous {
        min-width: 30%;
        min-width: 500px;
    }

    #input-email {
        min-width: 75%;
    }

    #Abonnez-vous p {
        max-width: 500px;
    }
}
